[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:ChocolateOverflow/nvim-config.git
[submodule "config/gf"]
	path = config/gf
	url = git@github.com:ChocolateOverflow/gf-patterns.git
