[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/ChocolateOverflow/nvim-config
[submodule "config/gf"]
	path = config/gf
	url = https://github.com/ChocolateOverflow/gf-patterns
